.subscribe{
  height: 600px;
  background-image: url("../../assets/images/index10.jpg");
}
.subscribe-Content{
  padding-bottom: 112px;
}
.subscribe-input{
  padding: 20px 25px 20px 16px;
  @include mobile(){
    padding: 20px 0px 20px 16px;
  }
  position: relative;
}
.subscribe-btn{
  position: absolute;
  padding: 21px 24px 19px 28px; 
}