body{
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}
// navbar
.navbar{
  padding: 8px 0;
}
.logo{
  background-image: url("../../assets/images/d’Perfume.png");
  width: 128px;
  height: 38px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space:nowrap;
}
.navbar-collapse{
  flex-grow: 0;
}
.mobileCart{
  position: relative;
}
.cartNum{
  position: absolute;
  top: -8px;
  right: 8px;
}
