body{
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}
// navbar
.navbar{
  padding: 8px 0;
}
.logo{
  background-image: url("../../assets/images/d’Perfume.png");
  width: 128px;
  height: 38px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space:nowrap;
}
.nav-link span{
  margin-right: 3px;
}
.navbar-collapse{
  flex-grow: 0;
}
.mobileCart{
  margin-right: 19px;
}
// footer
.footer{
  padding: 20px 0px 22px 0px;
}
