<!-- addCartModal -->
<div class="modal fade" id="addCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-primary text-center fs-5 lh-8">已加入購物車</p>
      </div>
    </div>
  </div>
</div>

<!-- addLikeModal -->
<div class="modal fade" id="addLike" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-primary text-center fs-5 lh-8">已加入我的收藏</p>
      </div>
    </div>
  </div>
</div>