.banner{
  background-image: url("../../assets/images/index1.jpg");
  height: 870px;
  @include pad(){
    height: 480px;
    .row .bannerText{
      line-height: 30px;
    }
  }
  .shopNow{
    width: 78%;
    @include pad(){
      width: 100%;
    }
  }
}

// introduction
.introductionContent{
  width: 63%;
  @include pad(){
    width: 100%;
  }
}
.introductionText{
  line-height: 30px;
}
.introductionImg{
  height: 555px;
}

// info
.infoImg{
  height: 1080px;
}
.infoContent{
  width: 63%;
  @include pad(){
    width: 100%;
  }
}
.infobtn{
  width: 63%;
  @include pad(){
    width: 100%;
  }
}

// indexProduct
.indexProduct{
  background-color: #E0E0E0;
}
.indexProductImg{
  height: 540px;
}